<!--Michael König-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neue Person erfassen</title>
</head>
<body>
<h1>Ungültige Eingabe</h1>
<p>Es ist ein Fehler aufgetreten. Bitte überprüfe deine Eingabe.</p>
<a th:href="@{/neuePerson}">Zurück</a>
</body>
</html>